* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  overflow: hidden;
}

:root {
  --c-sc: #ece7e1;
  --c-txt: lightgray;
  --c-bg: #333333;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-sc);
  color: var(--c-txt);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  padding: 30px;
  background-color: var(--c-bg);
  height: 80vh;
  width: 90vw;
  box-shadow: 1rem 1rem black;
}
@media only screen and (max-width: 768px) {
  main {
    gap: 1%;
    margin-top: -80px;
    height: 80%;
    width: 85vw;
    padding: 20px;
    box-shadow: 0.6rem 0.6rem black;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  header {
    gap: 10px;
    align-items: flex-start;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--c-bg);
  color: var(--c-bg);
  text-align: center;
  padding: 10px 0;
  overflow: hidden;
  letter-spacing: 2px;
}
.footer-date {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .footer-date {
    font-size: 12px;
  }
}
.footer-text {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .footer-text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    padding: 5px;
  }
}

.translator {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  gap: 50px;
}
@media only screen and (max-width: 768px) {
  .translator {
    padding-top: 0px;
    gap: 10px;
    flex-direction: column;
    margin-top: 10px;
  }
}
.translator-heading {
  font-size: 40px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 768px) {
  .translator-heading {
    font-size: 18px;
  }
}
.translator-desc {
  font-size: 18px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 768px) {
  .translator-desc {
    font-size: 12px;
    padding-bottom: 5px;
  }
}

.morse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .morse {
    height: 35vh;
  }
}
.morse h3 {
  z-index: 1;
  font-size: 24px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .morse h3 {
    font-size: 14px;
  }
}
.morse-area {
  resize: none;
  height: 75%;
  background-color: var(--c-bg);
  font-size: 18px;
  padding: 10px;
  color: var(--c-txt);
}
.morse-area:focus {
  border: 1px solid #fff;
  overflow: hidden;
  outline: none;
}
@media only screen and (max-width: 768px) {
  .morse-area {
    height: 100%;
    font-size: 12px;
    padding: 5px;
  }
}

.instructions {
  height: 50px;
}
@media only screen and (max-width: 768px) {
  .instructions {
    height: 100px;
    font-size: 10px;
  }
}

.error {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 50px;
}
@media only screen and (max-width: 768px) {
  .error {
    height: 60px;
    font-size: 10px;
  }
}
.error-input {
  color: #ff7f7f;
}

.play {
  background-color: transparent;
  height: 30px;
  width: 30px;
}
@media only screen and (max-width: 768px) {
  .play {
    height: 20px;
    width: 20px;
  }
}
.play-img {
  height: 100%;
  width: 100%;
}
.play:hover {
  cursor: pointer;
}

.legend {
  display: flex;
  position: absolute;
  left: calc(5vw + 30px);
  border: 1px solid var(--c-sc);
  opacity: 0.5;
  border-radius: 3px;
  padding: 4px;
  transition: all ease-in-out 0.3s;
  font-size: 14px;
}
.legend:hover {
  cursor: pointer;
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .legend {
    padding: 1px;
    left: calc(7.5vw + 20px);
    font-size: 10px;
    bottom: calc(10% + 50px);
  }
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.modal-heading {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .modal-heading {
    font-size: 14px;
  }
}
.modal-close {
  cursor: pointer;
  font-size: 32px;
}
@media only screen and (max-width: 768px) {
  .modal-close {
    font-size: 24px;
  }
}
.modal-content {
  background-color: var(--c-bg);
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid var(--c-sc);
  width: 500px;
  height: 450px;
}
@media only screen and (max-width: 768px) {
  .modal-content {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    height: 350px;
  }
}
.modal-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
.modal-text-letters {
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.modal-text-letters p {
  width: 165px;
}
@media only screen and (max-width: 768px) {
  .modal-text-letters p {
    font-size: 12px;
    width: 78px;
  }
}
@media only screen and (max-width: 768px) {
  .modal-text-numbers {
    font-size: 12px;
  }
}

.viewModal {
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
