@use "./partials/queries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  overflow: hidden;
}

:root {
  --c-sc: #ece7e1;
  --c-txt: lightgray;
  --c-bg: #333333;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-sc);
  color: var(--c-txt);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  padding: 30px;
  background-color: var(--c-bg);
  height: 80vh;
  width: 90vw;
  box-shadow: 1rem 1rem black;
  @include queries.small {
    gap: 1%;
    margin-top: -80px;
    height: 80%;
    width: 85vw;
    padding: 20px;
    box-shadow: 0.6rem 0.6rem black;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  @include queries.small {
    gap: 10px;
    align-items: flex-start;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--c-bg);
  color: var(--c-bg);
  text-align: center;
  padding: 10px 0;
  overflow: hidden;
  letter-spacing: 2px;
  &-date {
    font-size: 16px;
    @include queries.small {
      font-size: 12px;
    }
  }
  &-text {
    font-size: 16px;
    @include queries.small {
      font-size: 12px;
    }
  }
  @include queries.small {
    padding: 5px;
  }
}

.translator {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  gap: 50px;
  @include queries.small {
    padding-top: 0px;
    gap: 10px;
    flex-direction: column;
    margin-top: 10px;
  }
  &-heading {
    font-size: 40px;
    padding-bottom: 5px;
    @include queries.small {
      font-size: 18px;
    }
  }
  &-desc {
    font-size: 18px;
    padding-bottom: 5px;
    @include queries.small {
      font-size: 12px;
      padding-bottom: 5px;
    }
  }
}

.morse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  @include queries.small {
    height: 35vh;
  }
  & h3 {
    z-index: 1;
    font-size: 24px;
    padding-bottom: 10px;
    @include queries.small {
      font-size: 14px;
    }
  }
  &-area {
    resize: none;
    height: 75%;
    background-color: var(--c-bg);
    font-size: 18px;
    padding: 10px;
    color: var(--c-txt);
    &:focus {
      border: 1px solid #fff;
      overflow: hidden;
      outline: none;
    }
    @include queries.small {
      height: 100%;
      font-size: 12px;
      padding: 5px;
    }
  }
}

.instructions {
  height: 50px;
  @include queries.small {
    height: 100px;
    font-size: 10px;
  }
}

.error {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 50px;
  @include queries.small {
    height: 60px;
    font-size: 10px;
  }
  &-input {
    color: #ff7f7f;
  }
}

.play {
  background-color: transparent;
  height: 30px;
  width: 30px;
  @include queries.small {
    height: 20px;
    width: 20px;
  }
  &-img {
    height: 100%;
    width: 100%;
  }
  &:hover {
    cursor: pointer;
  }
}

.legend {
  display: flex;
  position: absolute;
  left: calc(5vw + 30px);
  border: 1px solid var(--c-sc);
  opacity: 0.5;
  border-radius: 3px;
  padding: 4px;
  transition: all ease-in-out 0.3s;
  font-size: 14px;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  @include queries.small {
    padding: 1px;
    left: calc(7.5vw + 20px);
    font-size: 10px;
    bottom: calc(10%);
  }
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  &-heading {
    font-size: 20px;
    @include queries.small {
      font-size: 14px;
    }
  }
  &-close {
    cursor: pointer;
    font-size: 32px;
    @include queries.small {
      font-size: 24px;
    }
  }
  &-content {
    background-color: var(--c-bg);
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid var(--c-sc);
    width: 500px;
    height: 450px;
    @include queries.small {
      padding-top: 0px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      width: 250px;
      height: 350px;
    }
  }
  &-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    &-letters {
      height: 90%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      & p {
        width: 165px;
        @include queries.small {
          font-size: 12px;
          width: 78px;
        }
      }
    }
    &-numbers {
      @include queries.small {
        font-size: 12px;
      }
    }
  }
}

.viewModal {
  display: flex;
}
